In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:/Users/uig27352/Downloads/Python Data Analysis/sales_data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

In [4]:
data = pd.DataFrame(data)

In [5]:
data.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [11]:
numeric_cols = data.select_dtypes(include=['int', 'float']).columns.tolist()

In [12]:
numeric_cols

['Day',
 'Year',
 'Customer_Age',
 'Order_Quantity',
 'Unit_Cost',
 'Unit_Price',
 'Profit',
 'Cost',
 'Revenue']

In [13]:
x = str(input("enter from list for x axis"))

enter from list for x axis Country

In [14]:
y = str(input("enter from the numeric columns list"))

enter from the numeric columns list Profit

In [15]:
data[x]

0                 Canada
1                 Canada
2              Australia
3              Australia
4              Australia
               ...
113031    United Kingdom
113032         Australia
113033         Australia
113034            France
113035            France
Name: Country, Length: 113036, dtype: object

In [15]:
data.groupby(by='Country')['Profit'].max()

Country
Australia         15096
Canada             5628
France             5056
Germany            5485
United Kingdom     5056
United States      5638
Name: Profit, dtype: int64

In [ ]:
nu_cols

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('C:/Users/uig27352/Downloads/Python Data Analysis/sales_data.csv')

def loss_function(m,b,points):
    total_error = 0
    for i in range(len(points)):
        x = points.iloc[i].Unit_Cost
        y = points.iloc[i].Profit
        total_error = (y-(m*x+b))**2
    total_error / float(len(points))

def gradient_descent(m_now, b_now, points, L):
    m_gradient = 0
    b_gradient = 0
    n = len(points)

    for i in range(n):
        x = points.iloc[i].Unit_Cost
        y = points.iloc[i].Profit

        m_gradient += -(2/n)*x*(y-(m_now*x + b_now))
        b_gradient += -(2/n)*x*(y-(m_now*x + b_now))

    m = m_now - m_gradient * L
    b = b_now - b_gradient * L 
    return m,b

m = 0
b = 0
L = 0.0001
epochs = 100

for i in range(epochs):
    m,b = gradient_descent(m,b,data,L)

print(m,b)
plt.scatter(data.Unit_Cost, data.Profit, color = 'black')
plt.plot(list(range(20,80)),[m*x + b for x in range(20,80)],color = 'red')
plt.show()